body {
	overflow-x: hidden;
}
.cf:before, .cf:after {
	content: " ";
	display: table;
}
.cf:after {
	clear: both;
}
.cf {
	*zoom: 1;
}
.opensans {
	font-family: 'Open Sans', sans-serif;
}
.playfair {
	font-family: 'Playfair Display', serif;
}
#top-wrapper {
	position: absolute;
	top: 40px;
	left: 40px;
	z-index: 5;
}
#top-header {
	padding-bottom: 10px;
	height: auto;
	font-family: 'Dancing Script';
	font-size: 50px;
	color: #fff;
	line-height: auto;
}
#sub-header {
	padding-bottom: 25px;
	font-size: 13px;
	font-family: 'Open Sans';
	font-weight: 300;
	color: #fff;
	line-height: auto;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
#map-canvas {
	height: 100vh;
	width: 100%;
}
#map-actions {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100px;
	background-image: -webkit-linear-gradient(top, transparent, rgba(0,0,0,0.3));
	background-image: linear-gradient(top, transparent, rgba(0,0,0,0.3));
}
#ovl-wrap {
	position: absolute;
	bottom: 40px;
	left: 40px;
	z-index: 100;
}
#ovl-wrap>div {
	opacity: 0;
}
#ovl-trackname {
	color: #fff;
	font-size: 32px;
}
#ovl-skip {
	padding: 2px 5px;
	color: #333;
	font-size: 11px;
	background: rgba(255,255,255,0.7);
	border-radius: 4px;
}
#ovl-cityname {
	padding-top: 4px;
	color: #fff;
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

#progress-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	height: 30px;
}
#progress-bar {
	margin-top: 26px;
	width: 0;
	height: 4px;
	background: #81b900;
	transition: 0.5s ease all;
}
#bottom-wrapper {
	width: 1090px;
	margin: 0 auto;
	padding: 60px 0;
}

#bottom-wrapper h1 {
	font-family: 'Open Sans';
	font-weight: 300;
	text-align: center;
	padding-bottom: 60px;
}
.profile {
	display: inline-block;
	font-style: Open Sans;
	font-weight: 400;
	text-align: center;
	font-size: 16px;
	padding: 0 30px;
}
.profile-image {
	width: 200px;
	height: 200px;
	border-radius: 900px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.profile-name {
	font-family: 'Open sans';
	font-weight: 800;
}
#pulse {
	z-index: 500;
	position: absolute;
	opacity: 0;
	width: 60px;
	height: 60px;
	background: rgba(255,255,255,0.3);
	border-radius: 500px;
}
#ring {
	z-index: 500;
	position: absolute;
	opacity: 0;
	width: 60px;
	height: 60px;
	border: 2px solid rgba(255,255,255,0.3);
	border-radius: 500px;
}
#track-controls {
	padding-top: 10px;
}
#play-pause-btn {
	cursor: pointer;
	margin-right: 10px;
	float: left;
	width: 32px;
	height: 32px;
	background-size: cover;
	background-position: center center;
}
#play-pause-btn.play {
	background-image: url(images/play.png);
}
#play-pause-btn.pause {
	background-image: url(images/pause.png);
}
#play-pause-btn:hover, #skip-btn:hover {
	opacity: 0.1;
}
#skip-btn {
	cursor: pointer;
	float: left;
	width: 32px;
	height: 32px;
	background-size: cover;
	background-image: url(images/skip.png);
	background-position: center center;
}
#toggle-queue {
	cursor: pointer;
	float: left;
	margin-left: 10px;
	padding: 0 10px;
	color: #fff;
	font-size: 11px;
	font-weight: 700;
	line-height: 28px;
	border: 2px solid #fff;
	border-radius: 40px;
	text-transform: uppercase;
}
#toggle-queue.active {
	color: #000;
	background: #fff;
}
.section-idea {
	margin: 0 auto;
	padding: 80px 0 140px 0;
}
.section-idea h1 {
	font-family: 'Open Sans';
	font-weight: 300;
	text-align: center;
	padding-bottom: 60px;
	color: #fff;
}
.section-idea p {
	margin: 0 auto;
	width: 700px;
	color: #fff;
	font-family: 'Open Sans';
	font-weight: 300;
	font-size: 20px;
	line-height: 2em;
}
.green {
	background-color: #81b900;
}
.section h1 {
	font-family: 'Open Sans';
	font-weight: 300;
	text-align: center;
	padding-bottom: 60px;
}

.section-idea a {
	text-decoration: none;
	color: #fff;
}
