body {
	overflow-x: hidden;
}
.opensans {
	font-family: 'Open Sans', sans-serif;
}
.playfair {
	font-family: 'Playfair Display', serif;
}
#top-wrapper {
	position: absolute;
	top: 40px;
	left: 40px;
	z-index: 5;
}
#top-header {
	padding-bottom: 10px;
	height: auto;
	font-family: 'Dancing Script';
	font-size: 50px;
	color: #fff;
	line-height: auto;
}
#sub-header {
	padding-bottom: 25px;
	font-size: 13px;
	font-family: 'Open Sans';
	font-weight: 300;
	color: #fff;
	line-height: auto;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
#map-canvas {
	height: 100vh;
	width: 100%;
}
#map-actions {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100px;
	background-image: -webkit-linear-gradient(top, transparent, rgba(0,0,0,0.3));
	background-image: linear-gradient(top, transparent, rgba(0,0,0,0.3));
}
#ovl-wrap {
	position: absolute;
	bottom: 40px;
	left: 40px;
	z-index: 100;
}
#ovl-wrap>div {
	opacity: 0;
}
#ovl-trackname {
	color: #fff;
	font-size: 32px;
}
#ovl-skip {
	padding: 2px 5px;
	color: #333;
	font-size: 11px;
	background: rgba(255,255,255,0.7);
	border-radius: 4px;
}
#ovl-cityname {
	color: #fff;
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

#progress-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	height: 30px;
}
#progress-bar {
	margin-top: 26px;
	width: 0;
	height: 4px;
	background: #81b900;
	transition: 0.5s ease all;
}
.section {
	width: 1090px;
	margin: 0 auto;
	padding: 100px 0;
}

.section-idea {
	margin: 0 auto;
	padding: 100px 0;
}


.section-idea h1 {
	font-family: 'Open Sans';
	font-weight: 300;
	text-align: center;
	padding-bottom: 60px;
	color: #fff;
}

.section-idea p {
	color: #fff;
}

.green {
	background-color: #81b900;
}

.section h1 {
	font-family: 'Open Sans';
	font-weight: 300;
	text-align: center;
	padding-bottom: 60px;
}

.section-idea a {
	text-decoration: none;
	color: #fff;
}
.profile {
	display: inline-block;
	font-style: Open Sans;
	font-weight: 400;
	text-align: center;
	font-size: 16px;
	padding: 0 30px;
}
.profile-image {
	width: 200px;
	height: 200px;
	border-radius: 900px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.profile-name {
	font-family: 'Open sans';
	font-weight: 800;
}

#text-wrapper {
	width: 800px;
	margin: 0 auto;
}


#pulse {
	z-index: 500;
	position: absolute;
	opacity: 0;
	width: 60px;
	height: 60px;
	background: rgba(255,255,255,0.3);
	border-radius: 500px;
}
#ring {
	z-index: 500;
	position: absolute;
	opacity: 0;
	width: 60px;
	height: 60px;
	border: 2px solid rgba(255,255,255,0.3);
	border-radius: 500px;
}